.name__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

article {
  width: 60%;
}

.btn__skip {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  background-color: rgba(157, 179, 96, 0.74);
  transition: all 0.3s ease;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.btn__skip:hover {
  transform: scale(1.1);
}

h1 {
  word-break: keep-all;
  display: inline-block;
  text-align: justify;
}

.cssanimation,
.cssanimation span {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
  word-break: keep-all;
}

.leFlyInBottom span {
  animation-name: leFlyInBottom;
}

@keyframes leFlyInBottom {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    animation-timing-function: ease-in-out;
  }
  90% {
    transform: scale(0.8);
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 11px;
  }
}
